<!DOCTYPE html>
<html lang="en">

<head>
  {{>header}}
</head>

<body>
    {{>navbar}}

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- Left Side -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure class="ai">
                            <a href="https://app.daily.dev/Anubhav_202"><img src="https://api.daily.dev/devcards/3fd8a8cfaf3847f08ac13551d7281338.png?r=w47" width="400" alt="Anubhav's Dev Card" width="400" alt="anubhav-image" class = "img-fluid" title="anubhav-img"></a>
                        </figure>
                    </div>    
                   <div class = "col-md-6 col-12 main_header_left">
                       <p>Weather Web App!!</p>
                       <h1>I'm a <span class = "text_clr">Open Source and Tech Enthusiast</span></h1>
                       <a href="https://drive.google.com/file/d/1GXHI7yajhkBQgRwd8Gs2p_5YMG3zStWr/view?usp=sharing" target="_blank"><button>About Me</button></a>
                   </div>
                    <!--Right side  -->
                   
                </div>
            </div>
        </div>
    </div>   
    <script src="images/vanilla-tilt.min.js"></script>
    <script>
       VanillaTilt.init(document.querySelector(".ai"), {
		 max: 25,
		 speed: 400
	   });
    </script>
    {{>footer}}
</body>

</html>